body{
    background-color: #383B3D;
    font-family: 'Trebuchet MS', 'Helvetica', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30vh;
    background-color: #383B3D;
    margin: 0;
}

.banner{
    color: #DBCABB;
    height: 50px;
    width: max-content;
    margin: 0px;
    font-size: 30px;
}

.type{
    color: #7D7D7D;
    width: max-content;
    max-width: 50%;
    font-size: 20px;
}

.word{
    display: inline;
}

.wrong{
    animation: hShake 0.2s 0s;
    background-color: #b3211c8e;
    padding: 10px;
    border-radius: 2px;
}

#current{
    color: black;
    background-color: #d8b494;
}

#wrong{
    color: #e31710;
}

#complete{
    color: white;
}

#info{
    color: #DBCABB;
}

#info p:nth-of-type(1){
    margin-top: 0px;
}

progressBar{
    color: white;
    background-color: rgba(83, 114, 83, 0.651);
    max-width: 400px;
}

#progress{
    background-color: #A5A5A5;
    max-width: 400px;
    width: 60vw;
}


#textbox{
    padding: 10px;
}

#restart{
    visibility: hidden;
    margin-top: -30vh;
    color: #DBCABB;
    text-align: center;
}

#restartButton{
    padding: 10px;
    border-radius: 2px;
    background-color: #494747;
    color: #a5a5a5;
    cursor: pointer;
    border-style: none;
}

#restartButton:hover{
    background-color: #a5a5a5;
    color: #494747;
}

#stats{
    margin-bottom: 20px;
}

#stats p{
    display: inline;
    margin: 10px;
}

@keyframes hShake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    75% { transform: translateX(-5px) }
    100% { transform: translateX(0) }
}