<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="{{ url_for('static', filename='lobby.js') }}"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="main">
        <div id="popupContainer">
            <div id="popup">
                <p>Enter the lobby id</p>
                <p>Lobby ID: 
                    <input id='lobbyID'></input>
                </p>
                <button onclick='startGame();'>start</button>
            </div>
        </div>
    </div>
</body>